.Home{
    width: 100%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #344e41;

}

.about{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #738290;

}

.about h2{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    color: #A4C3B2;
    height: 50px;
    margin-bottom: 60px;
}

.about img{
    border-radius: 1rem;
    height: 60%;
    border-style: groove;
    border-color: #A4C3B2;
}

.prompt{
    color: #F6FFF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
}