.Home{
    width: 100%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #344e41;

}

.about{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ccd5ae;

}

.about h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 80px;
    color: #4a4e69;
    height: 50px;
}

.prompt{

}