.card{
    width: 20rem;
    border: solid;
    border-color: #253237;
    border-radius: 20rem;

}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(72, 84, 63, 0.831) !important;
}

.card-body{
    padding: 3rem 0 !important;
    background-color: #253237;
    color: #c2dfe3;
}

.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.card-title{
    color: #c2dfe3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container-fluid .row{
    padding-top: 6rem;
}

img{
    height: 200px;
    width: auto;
}

.link{
    padding-bottom: 1rem;
    background-color: #253237;
    color: #c2dfe3;

}

.projectItem{
    padding-bottom: 1rem;
}

.childDiv{
    margin: auto;
}

.parentDiv{
    margin: 40px 0px 40px 0px;
}



