.card{
    width: 20rem;
    border: solid;
    border-color: #CCE3DE;

}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
    padding: 3rem 0 !important;
    background-color: #253237;
    color: #c2dfe3;
}

.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
    color: #c2dfe3;
}


.container-fluid .row{
    padding-top: 6rem;
}

img{
    height: 200px;
    width: auto;
}

.link{
    padding-bottom: 1rem;
    background-color: #253237;

}

.projectItem{
    padding-bottom: 1rem;
}



